.Home {
    text-align: center;
}

.Home-header {
    background-color: #F8EDE3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #8D493A;
} 

.wotdButton {
    border: 1px solid #8D493A;
    color: #8D493A;
}
